h1 Create book

form(action="/books/create", method="POST")
  label Title
  span &nbsp;
  input(type="text", name="title")
  
  label Description
  span &nbsp;
  input(type="text", name="description")
  
  button Create
  